.sign-in-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  width: 100%;
  height: 100vh;
  gap: 2rem;
  background: linear-gradient(to right, #06d6a0, #1b9aaa);
}
